<div style="margin-top: 20px; width: auto;" [hidden]="!spinnerVisibility">
  <div class="row justify-content-left">
    <div class="col-1">
      <button id="btnCreate" type="Button" class="btn btn-outline-primary" *ngIf="!creandoPedido" (click)="crearPedido()">Crear</button>
    </div>
    <div class="col-1">
      <button id="btnSave" type="Button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
    </div>
    <div class="col-1">
      <button id="btnDiscard" type="Button" class="btn btn-outline-danger" (click)="descartarCambios()">Descartar</button>
    </div>
  </div>
</div>
<div style="margin-top: 50px; margin-left: 20px;">
  <div class="row">
    <div class="col-sm-3">
      <label for="inputProveedor" class="active">Proveedor</label>
      <select id="inputProveedor" [(ngModel)]="pedidoSeleccionado.idProveedor" class="form-control mdb-autocomplete">
        <option *ngFor="let proveedor of listadoProveedores" [ngValue]="proveedor.id">{{proveedor.nombreContacto}}</option>
      </select>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3">
      <label for="fechaPedido" class="active">Fecha de pedido</label>
      <input type="date" [ngModel] ="pedidoSeleccionado.fechaPedido | date:'yyyy-MM-dd'" (ngModelChange)="pedidoSeleccionado.fechaPedido = $event" class="form-control mdb-autocomplete" id="fechaPedido">
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-3">
      <label for="plazo" class="active">Fecha de entrega</label>
      <input type="date" [ngModel] ="pedidoSeleccionado.fechaRecepcion | date:'yyyy-MM-dd'" (ngModelChange)="pedidoSeleccionado.fechaRecepcion = $event" class="form-control mdb-autocomplete" id="plazo">
    </div>
  </div>
</div>
<div class="spinner-border" style="width: 50px; height: 50px;" [hidden]="spinnerVisibility" role="status">
  <span class="sr-only">Loading...</span>
</div>