<div class="container" style="width: 350px; margin-top: 20px;">
    <div class="row align-items-start">
        <div class="col">
          <button id="btnSave" type="Button" class="btn btn-primary" onclick="guardarCambios">Guardar</button>
        </div>
        <div class="col">
            <button id="btnCreate" type="Button" class="btn btn-outline-primary" onclick="crearFactura">Crear</button>
        </div>
        <div class="col">
            <button id="btnDiscard" type="Button" class="btn btn-outline-danger" onclick="descartarCambios">Descartar</button>
        </div>
      </div>
</div>