<div style="margin-top: 20px; width: auto;">
  <div class="row justify-content-left">
    <div class="col-1">
      <button id="btnSave" type="Button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
    </div>
    <div class="col-1">
      <button id="btnCreate" type="Button" class="btn btn-outline-primary" (click)="crearPedido()">Crear</button>
    </div>
    <div class="col-1">
      <button id="btnDiscard" type="Button" class="btn btn-outline-danger" (click)="descartarCambios()">Descartar</button>
    </div>
  </div>
</div>
<div style="margin-top: 50px; margin-left: 20px;">
  <div class="row">
    <div class="col-sm-3">
      <label for="clientInput" class="active">Cliente</label>
      <input type="search" placeholder="{{pedidoSeleccionado.idProveedor}}" class="form-control mdb-autocomplete" id="clienteInput">
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <label for="fechaPedido" class="active">Fecha de pedido</label>
      <input type="date" [ngModel] ="pedidoSeleccionado.fechaPedido | date:'yyyy-MM-dd'" (ngModelChange)="pedidoSeleccionado.fechaPedido = $event" class="form-control mdb-autocomplete" id="fechaPedido">
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-3">
      <label for="plazo" class="active">Plazos de pago</label>
      <input type="date" [ngModel] ="pedidoSeleccionado.fechaRecepcion | date:'yyyy-MM-dd'" (ngModelChange)="pedidoSeleccionado.fechaRecepcion = $event" class="form-control mdb-autocomplete" id="plazo">
    </div>
  </div>
</div>