

table{
    width: 100%;
    border-collapse: collapse; 
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
    background-color: black;
    color: white;
}
#tablaTotal{
    text-align: right;
    font-size: 20px;
    width: 190%;
  border-collapse: collapse;
}

#tdBaseImponible{
    text-align: left;
   
}

#tdIva{
    text-align: left;

}

#tdTotal{
    text-align: left;
    
}


#tablaAnhiadirPedido{
    border-spacing: 8px;
    border-collapse: separate;
    max-width: 86%;
    
}

#idPedidoAnhiadido{
padding-left: 19px ;
}

mdb-card{
padding:2% ;
margin-top: 2%;
}

td{
width: 120px;
}

#buttonAdd{
    margin-top: 2%;
    color: white;
    background:#3f51b5 ;
}

#buttonAdd:hover{
    margin-top: 2%;
    color: white;
    background:#727dbb;
}

