
table{
    width: 50%;
    border-collapse: collapse; 
}
select{
    margin-top: 12px;
}

#btnAnhiadir{
    margin-top:10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 3px solid #888;
    border-radius: 50px;
}
#btnAnhiadir:hover{
    margin-top:10px;
    padding-bottom: 10px;
    background-color: grey;
    border: 3px solid #888;
    border-radius: 50px;
}

#btnBorrado{
   border-radius: 10px;
    background-color: transparent;
    border: 0px;
}
#btnBorrado:hover{
    background-color: grey;
    border: 0px;
}

tbody,td,th 
{
    text-align: center; 
    vertical-align: middle;
}