<table class="table" >
    <thead class="thead-dark">
      <tr *ngFor="let linea of listadoLineasPedidos">
        <th scope="col">{{linea.cantidad}}</th>
        <th scope="col">{{linea.idProducto}}</th>
        <th scope="col">{{linea.idProducto}}</th>
        <th scope="col">{{linea.precioUnitario}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
