.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body{
    background-color:rgb(189, 189, 189);

}
#carta {
    width: 40%;
    margin-bottom: 7%;
}
