
<img id="logo" src="assets/logo.png" >
<div id="fondo">
<div id="cuadricula">
  <div class="item" style="--color:#3E989B;"><img id="idImagen" src="assets/home.png" (click)="navegar()">
  </div>   
  <div class="item" style="--color:#6DB465;"><img id="idImagen" src="assets/chat.png" (click)="navegar2()"></div>
  <div class="item" style="--color:#F2C14E;"><img id="idImagen" src="assets/contactos.png" (click)="navegar2()"></div>
  <div class="item" style="--color:#F78154;"><img id="idImagen" src="assets/telefono.png" (click)="navegar2()" ></div>
  <div class="item" style="--color:#C87694;"><img id="idImagen" src="assets/mercado.png" (click)="navegar2()"></div>
  <p>Home</p>
  <p>Chat</p>
  <p>People</p>
  <p>Phone</p>
  <p>Buy</p>
  <div class="item" style="--color:#3E989B;"><img id="idImagen" src="assets/settings.png" (click)="navegar2()"></div>   
  <div class="item" style="--color:#6DB465;"><img id="idImagen2" src="assets/calend.png" (click)="navegar2()"></div>
  <div class="item" style="--color:#F2C14E;"><img id="idImagen" src="assets/box.png" (click)="navegar2()"></div>
  <div class="item" style="--color:#F78154;"><img id="idImagen" src="assets/manitas.png" (click)="navegar2()"></div>
  <div class="item" style="--color:#C87694;"><img id="idImagen2" src="assets/web.png" (click)="navegar2()"></div>
  <p>Settings</p>
  <p>Calendar</p>
  <p>Inventory</p>
  <p>Prov</p>
  <p>WEB</p>
  </div>
</div> 