
  
<div id="cuadricula">
  <div class="item" style="--color:#3E989B;"><img src="assets/home.png" (click)="navegar()"></div>   
  <div class="item" style="--color:#6DB465;"><img src="assets/chat.png"></div>
  <div class="item" style="--color:#F2C14E;"><img src="assets/contactos.png"></div>
  <div class="item" style="--color:#F78154;"><p>4</p></div>
  <div class="item" style="--color:#C87694;"><p>5</p></div>
  <div class="item" style="--color:#3E989B;"><img src="assets/settings.png"><p>6</p></div>   
  <div class="item" style="--color:#6DB465;"><img src="assets/calendar.png"></div>
  <div class="item" style="--color:#F2C14E;"><img src="assets/box.png"></div>
  <div class="item" style="--color:#F78154;"><p>9</p></div>
  <div class="item" style="--color:#C87694;"><p>10</p></div>
  </div>