
  
<div id="cuadricula">
  <div class="item" style="--color:#3E989B;"><img src="assets/home.png" (click)="navegar()"></div>   
  <div class="item" style="--color:#6DB465;"><img src="assets/chat.png"></div>
  <div class="item" style="--color:#F2C14E;"><img src="assets/contactos.png"></div>
  <div class="item" style="--color:#F78154;"><img src="assets/telefono.png"></div>
  <div class="item" style="--color:#C87694;"><img src="assets/mercado.png"></div>
  <div class="item" style="--color:#3E989B;"><img src="assets/settings.png"><p></p></div>   
  <div class="item" style="--color:#6DB465;"><img src="assets/calendar.png"></div>
  <div class="item" style="--color:#F2C14E;"><img src="assets/box.png"></div>
  <div class="item" style="--color:#F78154;"><img src="assets/manitas.png"></div>
  <div class="item" style="--color:#C87694;"><img src="assets/mundo.png"></div>
  </div>